<!DOCTYPE html>
<head>
<title>Weather app demo </title>

<style type="text/css">
.forms {

  margin-top:100px;
  color:#FFFFFF;

}
.head { margin-top:200px;
	    font-size:60px;
	    font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	    color: #F0282C;
}
.inputsize {width:60%;
	        padding: 14px 20px;
	        
}
.button {width:30%;
         cursor: pointer;
	     margin-top:20px;
	     background-color: #4CAF50;
	     padding: 14px 20px;
	     color: aliceblue;
}
.newupdate{
	     margin-top:20px;
	     font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
          color:#e9eade;
          font-size:3 0px;
          text-align:center;

}
.newtable{
    border: 1px solid #4CAF50;
    text-align: left;
    padding: 8px;
    margin-left:auto;
    margin-right:auto;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
</style>
</head>
<body style="background-color:#32332f">
<h1 align="center" class="head" ><strong>WEATHER FOR YOU</strong><br>
</h1>
<div class="forms">
<form action="/" method="post"  align="center">
  <strong> Enter the name of the city</strong><br>
  <input name="city" type="text" class="inputsize" placeholder="main cities only" style="text-align: center"   required>
  <br>

  <input type="submit" class="button" value="CHECK">
   </form>
   </div>
	
</body>
</html>


